* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #103c42;
  font-size: 50px;
  text-align: center;
}

body {
  background-color: #eee5e9;
}

footer {
  background-color: #7c7c7c;
  width: 100%;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

.season img {
  width: 20%;
  height: 100%;
  margin: 10px;
  border-style: solid;
}

.colossal img {
  width: 30%;
  height: 30%;
  border-style: solid;
  border-color: black;
}

.startSite a,
a:hover,
a:visited {
  color: black;
  text-decoration: none;
  font-family: Arimo;
}

.grade label {
  background-color: black;
}

.number {
  display: flex;
  justify-content: end;
  margin: 5%;
}

.rank5 {
  display: flex;
  justify-content: end;
  margin: 2rem 2rem 0 0;
  color: #fad129;
}
.rank4 {
  display: flex;
  justify-content: end;
  margin: 2rem 2rem 0 0;
  color: #c4c4c4;
}
.rank3 {
  display: flex;
  justify-content: end;
  margin: 2rem 2rem 0 0;
  color: #bb814f;
}
.rank2 {
  display: flex;
  justify-content: end;
  margin: 2rem 2rem 0 0;
  color: #844204;
}
.rank1 {
  display: flex;
  justify-content: end;
  margin: 2rem 2rem 0 0;
  color: #bd322b;
}

.hidden {
  display: none;
}

.contact p {
  text-align: center;
}

.boxseasontext {
  height: 23%;
  width: 30%;
  background-color: #d17e3c;
  border-style: solid;
  border-color: black;
}

.titles {
  height: 20%;
  width: 18%;
  background-color: #d17e3c;
  border-style: solid;
  border-color: black;
}

.titles h1 {
  font-size: 40px;
  text-align: center;
}

 .boxeven {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
} 