header {
    background-color: #103C42;
    font-size: 50px;
    text-align: center;
    
}

body {
    background-color: #EEE5E9;
    
}

footer {
    background-color: #7C7C7C;
    display: flex;

}

h2 {
    font-size: 40px;
}
